[user]
  email = shoebtanjim@outlook.com
  name = s-a-tanjim
  signingkey = FBFA9DA733EB0E7C

[alias]
  lt = log --graph --oneline --decorate
  ls = log --source --graph --pretty=format:'%C(yellow)%h %Creset[%ad] %s %C(green)[%an]%C(red)%d'
  lsa = log --source --graph --pretty=format:'%C(yellow)%h %Creset[%ad] %s %C(green)[%an]%C(red)%d' --all
  ll = log --source --stat -p
  pl = pull
  br = branch
  ba = branch -av
  co = checkout
  cp = cherry-pick
  cl = clone
  ct = commit
  st = status -sb
  df = diff
  dp = diff --stat
  ds = diff --staged
  dw = diff --word-diff
  la = config --get-regexp alias
  wt = worktree
  cnt = rev-list --count HEAD
  count = rev-list --count
  fpush = push --force-with-lease
  subup = submodule update --init --recursive
  staash = stash --all

[credential]
  helper = store

[commit]
  gpgsign = true
[column]
  ui = auto
[branch]
  sort = -committerdate
[rerere]
  enabled = true
[blame]
  coloring = repeatedLines
  date = human

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  line-numbers = true
  side-by-side = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
